
    <div id="calendar-container">
      <div id="calendar-controls">
        <button id="prevMonth">&#9664;</button>
        <div id="currentMonthYear"></div>
        <button id="nextMonth">&#9654;</button>
      </div>
      <div id="calendar-days">
        <div>Lu</div>
        <div>Ma</div>
        <div>Mi</div>
        <div>Ju</div>
        <div>Vi</div>
        <div>Sá</div>
        <div>Do</div>
      </div>
      <div id="calendar"></div>
    </div>
    <p class="note one-way hidden">
      <span>Nota:</span> Selecciona la fecha de ida clickeando en el día
      correspondiente.
    </p>
    <p class="note round-trip hidden">
      <span>Nota:</span> Selecciona la fecha de ida y la fecha de vuelta
      clickeando en los días correspondientes.
    </p>