<div
  class="menu-responsivo fixed w-full h-full bg-[var(--background-color)] top-0 left-0 z-50 [transition:transform_0.5s] -translate-x-full p-5"
>
  <div class="flex items-center justify-between">
    <svg
      class=""
      id="cerrar-menu-responsivo"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4 5L19 20M4 20L19 5"
        stroke="var(--color-svg)"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>

    <button
      class="flex items-center font-bold text-sm uppercase bg-transparent border-2 border-[var(--sidebar-border-color)] rounded-md cursor-pointer text-[var(--sidebar-text-color)] p-2 transition-all hover:bg-[var(--sidebar-border-color)]"
    >
      <svg
        class="mr-2"
        width="25"
        height="25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M23.168 12.75a9.403 9.403 0 0 0-.237-2.27H12.504v4.119h6.12a5.43 5.43 0 0 1-2.272 3.608l-.017.136 3.293 2.553.23.026c2.102-1.941 3.31-4.793 3.31-8.172Z"
          fill="#4285F4"></path><path
          d="M12.504 23.611c2.996 0 5.514-.986 7.353-2.689L16.351 18.2c-.936.663-2.195 1.113-3.847 1.113a6.69 6.69 0 0 1-6.323-4.61l-.128.006-3.43 2.656-.05.128a11.108 11.108 0 0 0 9.931 6.11"
          fill="#34A853"></path><path
          d="M6.18 14.7a6.843 6.843 0 0 1-.016-4.4v-.144L2.692 7.457l-.12.051a11.125 11.125 0 0 0 0 9.984L6.181 14.7Z"
          fill="#FBBC05"></path><path
          d="M12.504 5.688c2.085 0 3.49.902 4.29 1.65l3.15-3.056c-1.941-1.786-4.444-2.893-7.44-2.893a11.108 11.108 0 0 0-9.932 6.128L6.164 10.3a6.724 6.724 0 0 1 6.332-4.612"
          fill="#EB4335"></path></svg
      >
      Iniciar Sesión
    </button>
  </div>
  <div class="flex flex-col items-center justify-center pt-12 pb-12">
    <svg
      class="w-24 h-auto"
      width="41"
      height="25"
      viewBox="0 0 41 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12.2649 0.0516185C11.9579 0.113038 11.6661 0.270429 11.5203 0.447019C11.1709 0.869289 11.3053 1.47198 11.8004 1.73686C11.9502 1.81747 12.0231 1.82131 13.263 1.84435C13.9809 1.8597 15.5817 1.87121 16.8254 1.87506L19.0789 1.87889V2.91537V3.95184H9.5394H0V4.93074V5.90963H0.81766C1.72746 5.90963 1.88485 5.9365 2.15357 6.13612C2.62574 6.48161 2.53745 6.91156 1.95011 7.09966C1.56239 7.22251 1.55088 7.71387 1.92708 7.9442C2.04992 8.021 2.13054 8.021 6.9597 8.021C10.5106 8.021 11.8888 8.0095 11.9502 7.97875C12.2381 7.82903 12.3724 7.54112 12.2611 7.30696C12.1536 7.07663 12.1153 7.07279 10.8638 7.0536C9.8119 7.03824 9.7198 7.0344 9.5509 6.95762C9.3206 6.85014 9.2323 6.71578 9.2323 6.46242C9.2323 6.22825 9.3168 6.09005 9.5203 5.97873C9.6469 5.91347 9.7736 5.90963 11.8811 5.91731L14.1076 5.92883L14.1191 7.96339C14.1229 9.0805 14.1191 10.0363 14.1076 10.0824L14.0884 10.1707L7.0519 10.1784L0.0191898 10.1899L0.00767994 11.0997L0 12.0133H14.4761H28.9484L29.244 12.1132C29.4052 12.1669 29.816 12.3319 30.1538 12.4817C31.1787 12.9347 32.7296 13.6372 33.3591 13.9327C33.6855 14.0862 34.3266 14.3818 34.7796 14.5853C35.2325 14.7926 35.9427 15.1189 36.3535 15.3147C36.7642 15.5067 37.1788 15.6986 37.2747 15.737C37.3707 15.7753 37.5435 15.8483 37.6586 15.9058C38.5761 16.3358 40.0656 16.9922 40.0924 16.9731C40.1385 16.9462 40.0924 13.4452 40.0386 12.8617C40.0003 12.4164 39.8391 11.2302 39.77 10.8809C39.6087 10.0709 39.5588 9.8367 39.4782 9.4989C39.198 8.3665 38.5339 6.58142 38.0732 5.72153C37.4513 4.55838 37.1174 4.04013 36.4916 3.28006C35.5588 2.14377 34.7066 1.41824 33.6663 0.884648C32.507 0.289628 31.7968 0.109198 30.2881 0.0362684C29.1173 -0.0213116 12.5529 -0.00596153 12.2649 0.0516185ZM30.6797 1.93647C31.9772 2.10922 33.1711 2.66201 34.0962 3.52574C35.4551 4.79638 36.5799 6.71578 37.2862 8.9807C37.7316 10.3895 37.9005 11.2302 38.0579 12.7427C38.1653 13.7753 38.1731 13.9711 38.1116 13.9711C38.0809 13.9711 37.77 13.8329 37.4206 13.6678L36.7872 13.3646L36.7604 12.9653C36.6759 11.7677 36.3189 10.1553 35.8736 8.9615C35.7469 8.6198 35.3246 7.63326 35.2441 7.49121C35.2286 7.46435 35.2095 8.5737 35.2056 9.9634C35.2018 11.3492 35.1903 12.5008 35.1788 12.5162C35.1634 12.5431 34.3841 12.2091 34.2152 12.0977L34.1308 12.0441L34.1192 9.1035C34.1039 5.7676 34.1231 5.97873 33.7815 5.27623C33.2785 4.24743 32.1806 3.49887 30.8409 3.28006C30.5914 3.23782 30.1576 3.22247 29.2248 3.22247H27.9503L27.9388 3.57564L27.9273 3.93265H24.3764H20.8254L20.8139 2.90385L20.8063 1.87889H25.5204C29.5242 1.87889 30.2996 1.88657 30.6797 1.93647ZM19.0596 8.0402V10.1515L17.478 10.163L15.8926 10.1707V8.067C15.8926 6.90772 15.9041 5.94802 15.9195 5.9365C15.9349 5.92115 16.645 5.91347 17.5011 5.91731L19.0596 5.92883V8.0402ZM27.9273 8.0402V10.1515L24.3917 10.163L20.8562 10.1707L20.8332 9.7983C20.7986 9.2993 20.7986 5.96721 20.8332 5.9365C20.8447 5.92115 22.4493 5.91347 24.3917 5.91731L27.9273 5.92883V8.0402Z"
        fill="var(--sidebar-text-color)"></path>
      <path
        d="M2.32245 0.443065C2.12283 0.516005 2.01151 0.627325 1.93473 0.826945C1.82341 1.11486 1.9309 1.46419 2.19193 1.65613C2.33397 1.76361 2.68714 1.80201 3.54319 1.80201C4.35318 1.80201 4.4837 1.77897 4.67564 1.59855C4.82151 1.46419 4.87525 1.32216 4.87525 1.08415C4.87525 0.792395 4.76393 0.592775 4.5336 0.469935C4.36854 0.385485 4.33783 0.381645 3.42035 0.385485C2.69866 0.385485 2.44146 0.400835 2.32245 0.443065Z"
        fill="var(--sidebar-text-color)"></path>
      <path
        d="M6.98666 0.431558C6.79086 0.496818 6.68726 0.581278 6.60276 0.750188C6.40316 1.1379 6.63736 1.61775 7.09036 1.74827C7.25536 1.79818 7.47426 1.80585 8.26496 1.79434C9.12106 1.78282 9.24776 1.77514 9.36676 1.70989C9.65846 1.55249 9.78896 1.3452 9.78896 1.02274C9.78896 0.761698 9.68146 0.588958 9.44346 0.466108C9.27836 0.385498 9.24006 0.381658 8.19586 0.385498C7.48576 0.385498 7.07496 0.400848 6.98666 0.431558Z"
        fill="var(--sidebar-text-color)"></path>
      <path
        d="M1.61991 13.3224C1.42413 13.4183 1.34351 13.5604 1.34351 13.7907C1.34351 13.9941 1.45868 14.1822 1.65062 14.2935C1.78114 14.3704 1.85024 14.3742 3.72357 14.3857C5.85413 14.401 5.86943 14.3972 6.06523 14.1745C6.19963 14.0249 6.23803 13.902 6.20723 13.7139C6.17273 13.5181 6.08063 13.3991 5.90013 13.3147C5.75043 13.2494 5.61993 13.2417 3.76196 13.2417C1.82336 13.2417 1.78114 13.2417 1.61991 13.3224Z"
        fill="var(--sidebar-text-color)"></path>
      <path
        d="M7.9654 13.3185C7.762 13.4221 7.6698 13.5604 7.6506 13.7753C7.6314 14.0056 7.7274 14.1938 7.927 14.309L8.0806 14.3972L14.8944 14.3819C19.3436 14.3704 21.7429 14.3511 21.8081 14.3243C21.9309 14.2744 22.1421 14.0402 22.1729 13.9097C22.2381 13.6448 22.0692 13.353 21.8081 13.2801C21.7199 13.2571 19.2399 13.2417 14.8944 13.2417C8.1689 13.2417 8.119 13.2417 7.9654 13.3185Z"
        fill="var(--sidebar-text-color)"></path>
      <path
        d="M26.7141 13.8751C24.787 14.2014 23.2784 15.2917 22.4109 16.9884L22.2496 17.3032L20.8446 17.33C20.0768 17.3454 19.1593 17.3454 18.81 17.3339C17.9425 17.2955 17.7966 17.3185 17.5932 17.5182C17.263 17.8483 17.3475 18.3243 17.7889 18.6083L17.9463 18.712L19.8773 18.7235L21.8043 18.735L21.7966 19.4145L21.7851 20.094H19.2131H16.6411L16.6181 19.8828C16.5643 19.426 16.3686 18.808 16.1574 18.4433C15.9502 18.0824 15.5471 17.6372 15.1325 17.3147C14.2035 16.5968 12.8561 16.378 11.7237 16.7581C10.7294 17.092 9.87721 17.8828 9.47791 18.854C9.38201 19.0882 9.24371 19.664 9.20541 19.998L9.19381 20.094L7.52401 20.1132C5.69671 20.1323 5.75041 20.1285 5.52011 20.3704C5.18231 20.7235 5.24371 21.261 5.66601 21.6449C5.78501 21.7524 5.96931 21.8714 6.09591 21.9251C6.31091 22.0095 6.34931 22.0134 7.93861 22.0249L9.55861 22.0364L9.62381 22.1593C9.79661 22.5009 10.4261 23.1574 10.8446 23.4414C11.3013 23.7485 11.6162 23.879 12.1997 23.9942C13.0173 24.1593 13.8503 24.0403 14.6028 23.6525C15.2093 23.3416 15.643 22.95 16.0346 22.3474L16.2419 22.0326H18.9368C20.4185 22.0288 21.8005 22.0249 22.0116 22.0172C22.4493 22.0019 22.3839 21.9596 22.7563 22.4933C23.2477 23.1996 24.027 23.9136 24.7334 24.309C25.6047 24.7965 26.4339 25.0038 27.5049 24.9999C28.2036 24.9961 28.6796 24.9194 29.3859 24.6967C29.8351 24.5547 30.4915 24.2207 30.8639 23.9366C31.3245 23.5911 31.9157 22.9654 32.2459 22.4702L32.5261 22.0518L35.2939 22.0326C37.981 22.0095 38.0693 22.0095 38.2728 21.9289C38.8064 21.7294 39.1365 21.499 39.4781 21.0805C39.7008 20.8042 39.9734 20.2783 40.0195 20.0288C40.0425 19.9097 40.0348 19.8829 39.9541 19.8291C39.8697 19.7754 38.4071 19.1151 38.3687 19.1151C38.315 19.1151 36.5837 18.3013 36.5837 18.2744C36.5799 18.2628 36.5722 18.0095 36.5606 17.7139C36.5376 17.0882 36.5108 16.9577 36.3534 16.7427C36.0578 16.3319 35.482 16.3166 35.1979 16.7082C35.0904 16.854 35.0865 16.8809 35.0865 17.2802C35.0865 17.5066 35.0712 17.6948 35.0559 17.6948C35.0098 17.6948 33.2324 16.9001 32.3917 16.5047C32.3341 16.4778 32.2189 16.3588 32.1384 16.2398C31.3783 15.1573 30.0654 14.2552 28.8332 13.9673C28.1729 13.8098 27.3169 13.7753 26.7141 13.8751ZM28.3379 15.925C28.7026 16.0248 29.2324 16.2705 29.5395 16.4893C30.1998 16.95 30.7679 17.7715 30.9905 18.5777C31.1095 19.0114 31.1095 19.9328 30.9867 20.3819C30.7449 21.284 30.1422 22.0787 29.3437 22.5547C28.6335 22.9731 27.8159 23.1189 26.9483 22.9769C25.835 22.7927 24.8254 22.0326 24.311 20.9846C24.0424 20.4434 23.9848 20.2054 23.9655 19.5565C23.9425 18.9039 24.0116 18.4932 24.2266 17.9827C24.6297 17.0153 25.5625 16.2129 26.6067 15.9443C27.1786 15.7945 27.8274 15.7907 28.3379 15.925ZM13.6008 18.8348C13.9194 18.9846 14.2265 19.284 14.3724 19.5796C14.6833 20.2207 14.5375 21.0229 14.0116 21.5067C13.3398 22.1324 12.4377 22.1362 11.7889 21.5182C11.3321 21.0805 11.1555 20.5163 11.3052 19.9634C11.4434 19.4375 11.7658 19.0383 12.2265 18.8195C12.4876 18.6967 12.5068 18.6928 12.9175 18.7005C13.3013 18.712 13.3628 18.7235 13.6008 18.8348Z"
        fill="var(--sidebar-text-color)"></path>
      <path
        d="M27.3514 17.2187C26.645 17.3646 26.3149 17.5219 25.9502 17.8867C25.4934 18.3396 25.3207 18.7542 25.3245 19.3838C25.3284 20.0287 25.5203 20.4932 25.9694 20.9385C26.3649 21.3339 26.718 21.4989 27.3284 21.5719C28.4148 21.7024 29.3859 21.0537 29.693 19.9826C29.7814 19.6832 29.7544 19.1266 29.6393 18.7619C29.5357 18.4394 29.2363 17.9826 28.9714 17.7523C28.5606 17.3876 27.7814 17.1343 27.3514 17.2187Z"
        fill="var(--sidebar-text-color)"></path>
      <path
        d="M16.2958 15.4644C16.0846 15.5949 16.0309 15.6832 16.0309 15.9135C16.027 16.1093 16.0385 16.1362 16.1537 16.2398L16.2805 16.3511L18.4724 16.3435L20.6605 16.332L20.791 16.1822C21.0098 15.9289 20.9638 15.591 20.6912 15.449C20.5952 15.3991 20.269 15.3914 18.4954 15.3914C16.5338 15.3914 16.4033 15.3953 16.2958 15.4644Z"
        fill="var(--sidebar-text-color)"></path>
      <path
        d="M0.12284 16.996L0 17.0075L0.00767994 17.8598L0.0191898 18.7119H3.76202C7.3436 18.7119 7.5125 18.7081 7.6392 18.639C7.9617 18.4663 8.0999 18.2398 8.0999 17.8789C8.0999 17.7253 8.073 17.5795 8.0269 17.4797C7.9386 17.2916 7.7121 17.0919 7.5049 17.0343C7.3935 17.0037 6.3609 16.9883 3.80041 16.9883C1.84646 16.9845 0.19194 16.9883 0.12284 16.996Z"
        fill="var(--sidebar-text-color)"></path>
      <path
        d="M2.7256 20.2745C2.39163 20.3666 2.22656 20.6123 2.22656 21.0038C2.22656 21.4453 2.49528 21.7524 2.90603 21.7908C3.1901 21.8176 3.37053 21.76 3.5356 21.5989C3.88109 21.2534 3.88109 20.835 3.5356 20.4933C3.29375 20.2476 3.04807 20.1823 2.7256 20.2745Z"
        fill="var(--sidebar-text-color)"></path>
    </svg>
    <h1
      class="text-[var(--sidebar-text-color)] text-5xl font-medium tracking-wide mt-2"
    >
      BUSEASE
    </h1>
  </div>
  <ul>
    <li
      class="mb-6 font-medium p-4 rounded-lg text-xl font-['Inter'], transition-all cursor-pointer hover:bg-[var(--hover-background-color)]"
    >
      <a href="" class="flex items-center text-[var(--sidebar-text-color)]">
        <svg
          class="mr-4 w-8 h-auto"
          width="30"
          height="25"
          viewBox="0 0 30 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.7647 25V16.1765H17.6471V25H25V13.2353H29.4118L14.7059 0L0 13.2353H4.41176V25H11.7647Z"
            fill="var(--color-svg)"></path>
        </svg>

        Inicio
      </a>
    </li>
    <li
      class="mb-6 font-medium p-4 rounded-lg text-xl font-['Inter'], transition-all cursor-pointer hover:bg-[var(--hover-background-color)]"
    >
      <a href="" class="flex items-center text-[var(--sidebar-text-color)]">
        <svg
          class="mr-4 w-8 h-auto"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-info-octagon"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12.802 2.165l5.575 2.389c.48 .206 .863 .589 1.07 1.07l2.388 5.574c.22 .512 .22 1.092 0 1.604l-2.389 5.575c-.206 .48 -.589 .863 -1.07 1.07l-5.574 2.388c-.512 .22 -1.092 .22 -1.604 0l-5.575 -2.389a2.036 2.036 0 0 1 -1.07 -1.07l-2.388 -5.574a2.036 2.036 0 0 1 0 -1.604l2.389 -5.575c.206 -.48 .589 -.863 1.07 -1.07l5.574 -2.388a2.036 2.036 0 0 1 1.604 0z"
          ></path><path d="M12 9h.01"></path><path d="M11 12h1v4h1"></path></svg
        >

        Sobre Nosotros
      </a>
    </li>
    <li
      class="mb-6 font-medium p-4 rounded-lg text-xl font-['Inter'], transition-all cursor-pointer hover:bg-[var(--hover-background-color)]"
    >
      <a href="" class="flex items-center text-[var(--sidebar-text-color)]">
        <svg
          class="mr-4 w-8 h-auto"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-help-octagon"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12.802 2.165l5.575 2.389c.48 .206 .863 .589 1.07 1.07l2.388 5.574c.22 .512 .22 1.092 0 1.604l-2.389 5.575c-.206 .48 -.589 .863 -1.07 1.07l-5.574 2.388c-.512 .22 -1.092 .22 -1.604 0l-5.575 -2.389a2.036 2.036 0 0 1 -1.07 -1.07l-2.388 -5.574a2.036 2.036 0 0 1 0 -1.604l2.389 -5.575c.206 -.48 .589 -.863 1.07 -1.07l5.574 -2.388a2.036 2.036 0 0 1 1.604 0z"
          ></path><path d="M12 16v.01"></path><path
            d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
          ></path></svg
        >

        ¿Como Funciona?
      </a>
    </li>
    <li
      class="mb-6 font-medium p-4 rounded-lg text-xl font-['Inter'], transition-all cursor-pointer hover:bg-[var(--hover-background-color)]"
    >
      <a href="" class="flex items-center text-[var(--sidebar-text-color)]">
        <svg
          class="mr-4 w-8 h-auto"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="var(--color-svg)"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-messages"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"
          ></path><path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"
          ></path></svg
        >

        Contacto
      </a>
    </li>
  </ul>
</div>
