<div id="notification-center" class="notification-center z-50 fixed top-[0] -right-[300px] w-[300px] h-full bg-[var(--background-color)] [box-shadow:-2px_0_8px_rgba(0,_0,_0,_0.1)] [transition:right_0.5s] overflow-auto">
    <div class="p-4 border-b border-[var(--sidebar-border-color)] flex justify-between items-center bg-[var(--background-card)]">
        <button id="mark-read">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                viewBox="0 0 24 24"
            >
                <path
                    fill="none"
                    stroke="var(--color-svg)"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m8 12.485l4.243 4.243l8.484-8.485M3 12.485l4.243 4.243m8.485-8.485L12.5 11.5"
                ></path>
            </svg>
        </button>

        <h2 class="text-lg text-[var(--text-color)] uppercase">Notificaciones</h2>
        <button id="close-btn-notification">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="var(--color-svg)"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
        </button>
    </div>
    <div class="p-4">
        <div class="mb-4 p-4 border border-[var(--sidebar-border-color)] rounded-lg bg-[var(--background-card)] cursor-pointer">
            <div class="text-base mb-1 text-[var(--text-color)] flex items-center justify-between">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-android"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 10l0 6" /><path d="M20 10l0 6" /><path d="M7 9h10v8a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-8a5 5 0 0 1 10 0" /><path d="M8 3l1 2" /><path d="M16 3l-1 2" /><path d="M9 18l0 3" /><path d="M15 18l0 3" /></svg>
                Actualización del Sistema
            </div>
            <div class="text-sm text-[var(--text-secondary)]">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta
                ducimus atque velit ratione possimus repellat officia vero
                quaerat deserunt pariatur?
            </div>
            <div class="text-xs mt-2 text-[var(--note-text-color)]">Hace 20 minutos</div>
        </div>
        <div class="mb-4 p-4 border border-[var(--sidebar-border-color)] rounded-lg bg-[var(--background-card)] cursor-pointer">
            <div class="text-base mb-1 text-[var(--text-color)] flex items-center justify-between">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-android"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 10l0 6" /><path d="M20 10l0 6" /><path d="M7 9h10v8a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-8a5 5 0 0 1 10 0" /><path d="M8 3l1 2" /><path d="M16 3l-1 2" /><path d="M9 18l0 3" /><path d="M15 18l0 3" /></svg>
                Actualización del Sistema
            </div>
            <div class="text-sm text-[var(--text-secondary)]">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta
                ducimus atque velit ratione possimus repellat officia vero
                quaerat deserunt pariatur?
            </div>
            <div class="text-xs mt-2 text-[var(--note-text-color)]">Hace 20 minutos</div>
        </div>
        <div class="mb-4 p-4 border border-[var(--sidebar-border-color)] rounded-lg bg-[var(--background-card)] cursor-pointer">
            <div class="text-base mb-1 text-[var(--text-color)] flex items-center justify-between">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-android"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 10l0 6" /><path d="M20 10l0 6" /><path d="M7 9h10v8a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-8a5 5 0 0 1 10 0" /><path d="M8 3l1 2" /><path d="M16 3l-1 2" /><path d="M9 18l0 3" /><path d="M15 18l0 3" /></svg>
                Actualización del Sistema
            </div>
            <div class="text-sm text-[var(--text-secondary)]">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta
                ducimus atque velit ratione possimus repellat officia vero
                quaerat deserunt pariatur?
            </div>
            <div class="text-xs mt-2 text-[var(--note-text-color)]">Hace 20 minutos</div>
        </div>
    </div>
</div>

<style>


      .notification-center.active {
        right: 0;
      }


</style>