---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Switch from "../components/switch.astro";
import Calendario from "../components/calendario.astro";
import CambiarTema from "../components/cambiarTema.astro";
import Menu from "../components/menu.astro";
---

<!doctype html>
<html lang="en" class="h-full min-h-full overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=" /icono.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="stylesheet" href="/calendario.css" />
		<link rel="stylesheet" href="/estilosCambiarTema.css" />
		<title>{title}</title>
	</head>
	<body
		class="h-full min-h-full overflow-x-hidden overflow-y-auto bg-[var(--background-color)] font-['Inter']"
	>
		<Menu />
		<header
			class="w-full flex items-center justify-between text-[var(--text-color)] h-16 p-2 border-b-2 border-[var(--sidebar-border-color)] text-center top-[0]"
		>
			<!-- ABRIR MENU RESPONSIVO -->
			<button
				class="border-2 border-[var(--sidebar-border-color)] hidden md:flex items-center bg-transparent justify-center p-2 rounded-md cursor-pointer transition-all hover:bg-[var(--sidebar-border-color)]"
				id="abrir-menu"
			>
				<svg
					width="29"
					height="23"
					viewBox="0 0 29 23"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M2 2H27M2 11.375H14.5M2 20.75H27"
						stroke="var(--color-svg)"
						stroke-width="3"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
				</svg>
			</button>

			<button
				class="flex md:hidden items-center font-bold text-sm uppercase bg-transparent border-2 border-[var(--sidebar-border-color)] rounded-md cursor-pointer text-[var(--sidebar-text-color)] p-2 transition-all hover:bg-[var(--sidebar-border-color)]"
			>
				<svg
					class="mr-2"
					width="25"
					height="25"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="M23.168 12.75a9.403 9.403 0 0 0-.237-2.27H12.504v4.119h6.12a5.43 5.43 0 0 1-2.272 3.608l-.017.136 3.293 2.553.23.026c2.102-1.941 3.31-4.793 3.31-8.172Z"
						fill="#4285F4"></path><path
						d="M12.504 23.611c2.996 0 5.514-.986 7.353-2.689L16.351 18.2c-.936.663-2.195 1.113-3.847 1.113a6.69 6.69 0 0 1-6.323-4.61l-.128.006-3.43 2.656-.05.128a11.108 11.108 0 0 0 9.931 6.11"
						fill="#34A853"></path><path
						d="M6.18 14.7a6.843 6.843 0 0 1-.016-4.4v-.144L2.692 7.457l-.12.051a11.125 11.125 0 0 0 0 9.984L6.181 14.7Z"
						fill="#FBBC05"></path><path
						d="M12.504 5.688c2.085 0 3.49.902 4.29 1.65l3.15-3.056c-1.941-1.786-4.444-2.893-7.44-2.893a11.108 11.108 0 0 0-9.932 6.128L6.164 10.3a6.724 6.724 0 0 1 6.332-4.612"
						fill="#EB4335"></path></svg
				>
				Iniciar Sesión
			</button>

			<nav class="md:hidden">
				<ul
					class="flex items-center text-[var(--sidebar-text-color)] font-medium"
				>
					<li class="mr-10">
						<a href="" class="hover:text-[var(--text-color)]"
							>Inicio</a>
					</li>
					<li class="mr-10">
						<a href="" class="hover:text-[var(--text-color)]"
							>Sobre Nosotros</a>
					</li>
					<li class="mr-10">
						<a href="">
							<svg
								class="svg-logo hover:scale-110 transition-all"
								width="49"
								height="30"
								viewBox="0 0 49 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M17.2649 2.05162C16.9579 2.11304 16.6661 2.27043 16.5203 2.44702C16.1709 2.86929 16.3053 3.47198 16.8004 3.73686C16.9502 3.81747 17.0231 3.82131 18.263 3.84435C18.9809 3.8597 20.5817 3.87121 21.8254 3.87506L24.0789 3.87889V4.91537V5.95184H14.5394H5V6.93074V7.90963H5.81766C6.72746 7.90963 6.88485 7.9365 7.15357 8.13612C7.62574 8.48161 7.53745 8.91156 6.95011 9.09966C6.56239 9.22251 6.55088 9.71387 6.92708 9.9442C7.04992 10.021 7.13054 10.021 11.9597 10.021C15.5106 10.021 16.8888 10.0095 16.9502 9.97875C17.2381 9.82903 17.3724 9.54112 17.2611 9.30696C17.1536 9.07663 17.1153 9.07279 15.8638 9.0536C14.8119 9.03824 14.7198 9.0344 14.5509 8.95762C14.3206 8.85014 14.2323 8.71578 14.2323 8.46242C14.2323 8.22825 14.3168 8.09005 14.5203 7.97873C14.6469 7.91347 14.7736 7.90963 16.8811 7.91731L19.1076 7.92883L19.1191 9.96339C19.1229 11.0805 19.1191 12.0363 19.1076 12.0824L19.0884 12.1707L12.0519 12.1784L5.01919 12.1899L5.00768 13.0997L5 14.0133H19.4761H33.9484L34.244 14.1132C34.4052 14.1669 34.816 14.3319 35.1538 14.4817C36.1787 14.9347 37.7296 15.6372 38.3591 15.9327C38.6855 16.0862 39.3266 16.3818 39.7796 16.5853C40.2325 16.7926 40.9427 17.1189 41.3535 17.3147C41.7642 17.5067 42.1788 17.6986 42.2747 17.737C42.3707 17.7753 42.5435 17.8483 42.6586 17.9058C43.5761 18.3358 45.0656 18.9922 45.0924 18.9731C45.1385 18.9462 45.0924 15.4452 45.0386 14.8617C45.0003 14.4164 44.8391 13.2302 44.77 12.8809C44.6087 12.0709 44.5588 11.8367 44.4782 11.4989C44.198 10.3665 43.5339 8.58142 43.0732 7.72153C42.4513 6.55838 42.1174 6.04013 41.4916 5.28006C40.5588 4.14377 39.7066 3.41824 38.6663 2.88465C37.507 2.28963 36.7968 2.1092 35.2881 2.03627C34.1173 1.97869 17.5529 1.99404 17.2649 2.05162ZM35.6797 3.93647C36.9772 4.10922 38.1711 4.66201 39.0962 5.52574C40.4551 6.79638 41.5799 8.71578 42.2862 10.9807C42.7316 12.3895 42.9005 13.2302 43.0579 14.7427C43.1653 15.7753 43.1731 15.9711 43.1116 15.9711C43.0809 15.9711 42.77 15.8329 42.4206 15.6678L41.7872 15.3646L41.7604 14.9653C41.6759 13.7677 41.3189 12.1553 40.8736 10.9615C40.7469 10.6198 40.3246 9.63326 40.2441 9.49121C40.2286 9.46435 40.2095 10.5737 40.2056 11.9634C40.2018 13.3492 40.1903 14.5008 40.1788 14.5162C40.1634 14.5431 39.3841 14.2091 39.2152 14.0977L39.1308 14.0441L39.1192 11.1035C39.1039 7.7676 39.1231 7.97873 38.7815 7.27623C38.2785 6.24743 37.1806 5.49887 35.8409 5.28006C35.5914 5.23782 35.1576 5.22247 34.2248 5.22247H32.9503L32.9388 5.57564L32.9273 5.93265H29.3764H25.8254L25.8139 4.90385L25.8063 3.87889H30.5204C34.5242 3.87889 35.2996 3.88657 35.6797 3.93647ZM24.0596 10.0402V12.1515L22.478 12.163L20.8926 12.1707V10.067C20.8926 8.90772 20.9041 7.94802 20.9195 7.9365C20.9349 7.92115 21.645 7.91347 22.5011 7.91731L24.0596 7.92883V10.0402ZM32.9273 10.0402V12.1515L29.3917 12.163L25.8562 12.1707L25.8332 11.7983C25.7986 11.2993 25.7986 7.96721 25.8332 7.9365C25.8447 7.92115 27.4493 7.91347 29.3917 7.91731L32.9273 7.92883V10.0402Z"
									fill="var(--sidebar-text-color)"></path>
								<path
									d="M7.32251 2.44316C7.12289 2.5161 7.01157 2.62742 6.93479 2.82704C6.82347 3.11495 6.93096 3.46428 7.19199 3.65622C7.33403 3.7637 7.6872 3.8021 8.54325 3.8021C9.35324 3.8021 9.48376 3.77906 9.6757 3.59864C9.82157 3.46428 9.87531 3.32225 9.87531 3.08424C9.87531 2.79249 9.76399 2.59287 9.53366 2.47003C9.3686 2.38558 9.33789 2.38174 8.42041 2.38558C7.69872 2.38558 7.44152 2.40093 7.32251 2.44316Z"
									fill="var(--sidebar-text-color)"></path>
								<path
									d="M11.9866 2.43165C11.7908 2.49691 11.6872 2.58137 11.6027 2.75028C11.4031 3.13799 11.6373 3.61784 12.0903 3.74836C12.2553 3.79827 12.4742 3.80594 13.2649 3.79443C14.121 3.78291 14.2477 3.77523 14.3667 3.70998C14.6584 3.55258 14.7889 3.34529 14.7889 3.02283C14.7889 2.76179 14.6814 2.58905 14.4434 2.4662C14.2783 2.38559 14.24 2.38175 13.1958 2.38559C12.4857 2.38559 12.0749 2.40094 11.9866 2.43165Z"
									fill="var(--sidebar-text-color)"></path>
								<path
									d="M6.61998 15.3224C6.4242 15.4183 6.34358 15.5604 6.34358 15.7907C6.34358 15.9941 6.45875 16.1822 6.65069 16.2935C6.78121 16.3704 6.85031 16.3742 8.72364 16.3857C10.8542 16.401 10.8695 16.3972 11.0653 16.1745C11.1997 16.0249 11.2381 15.902 11.2073 15.7139C11.1728 15.5181 11.0807 15.3991 10.9002 15.3147C10.7505 15.2494 10.62 15.2417 8.76203 15.2417C6.82343 15.2417 6.78121 15.2417 6.61998 15.3224Z"
									fill="var(--sidebar-text-color)"></path>
								<path
									d="M12.9655 15.3185C12.7621 15.4221 12.6699 15.5604 12.6507 15.7753C12.6315 16.0056 12.7275 16.1938 12.9271 16.309L13.0807 16.3972L19.8945 16.3819C24.3437 16.3704 26.743 16.3511 26.8082 16.3243C26.931 16.2744 27.1422 16.0402 27.173 15.9097C27.2382 15.6448 27.0693 15.353 26.8082 15.2801C26.72 15.2571 24.24 15.2417 19.8945 15.2417C13.169 15.2417 13.1191 15.2417 12.9655 15.3185Z"
									fill="var(--sidebar-text-color)"></path>
								<path
									d="M31.7142 15.8751C29.7871 16.2014 28.2785 17.2917 27.411 18.9884L27.2497 19.3032L25.8447 19.33C25.0769 19.3454 24.1594 19.3454 23.8101 19.3339C22.9426 19.2955 22.7967 19.3185 22.5933 19.5182C22.2631 19.8483 22.3476 20.3243 22.789 20.6083L22.9464 20.712L24.8774 20.7235L26.8044 20.735L26.7967 21.4145L26.7852 22.094H24.2132H21.6412L21.6182 21.8828C21.5644 21.426 21.3687 20.808 21.1575 20.4433C20.9503 20.0824 20.5472 19.6372 20.1326 19.3147C19.2036 18.5968 17.8562 18.378 16.7238 18.7581C15.7295 19.092 14.8773 19.8828 14.478 20.854C14.3821 21.0882 14.2438 21.664 14.2055 21.998L14.1939 22.094L12.5241 22.1132C10.6968 22.1323 10.7505 22.1285 10.5202 22.3704C10.1824 22.7235 10.2438 23.261 10.6661 23.6449C10.7851 23.7524 10.9694 23.8714 11.096 23.9251C11.311 24.0095 11.3494 24.0134 12.9387 24.0249L14.5587 24.0364L14.6239 24.1593C14.7967 24.5009 15.4262 25.1574 15.8447 25.4414C16.3014 25.7485 16.6163 25.879 17.1998 25.9942C18.0174 26.1593 18.8504 26.0403 19.6029 25.6525C20.2094 25.3416 20.6431 24.95 21.0347 24.3474L21.242 24.0326H23.9369C25.4186 24.0288 26.8006 24.0249 27.0117 24.0172C27.4494 24.0019 27.384 23.9596 27.7564 24.4933C28.2478 25.1996 29.0271 25.9136 29.7335 26.309C30.6048 26.7965 31.434 27.0038 32.505 26.9999C33.2037 26.9961 33.6797 26.9194 34.386 26.6967C34.8352 26.5547 35.4916 26.2207 35.864 25.9366C36.3246 25.5911 36.9158 24.9654 37.246 24.4702L37.5262 24.0518L40.294 24.0326C42.9811 24.0095 43.0694 24.0095 43.2729 23.9289C43.8065 23.7294 44.1366 23.499 44.4782 23.0805C44.7009 22.8042 44.9735 22.2783 45.0196 22.0288C45.0426 21.9097 45.0349 21.8829 44.9542 21.8291C44.8698 21.7754 43.4072 21.1151 43.3688 21.1151C43.3151 21.1151 41.5838 20.3013 41.5838 20.2744C41.58 20.2628 41.5723 20.0095 41.5607 19.7139C41.5377 19.0882 41.5109 18.9577 41.3535 18.7427C41.0579 18.3319 40.4821 18.3166 40.198 18.7082C40.0905 18.854 40.0866 18.8809 40.0866 19.2802C40.0866 19.5066 40.0713 19.6948 40.056 19.6948C40.0099 19.6948 38.2325 18.9001 37.3918 18.5047C37.3342 18.4778 37.219 18.3588 37.1385 18.2398C36.3784 17.1573 35.0655 16.2552 33.8333 15.9673C33.173 15.8098 32.317 15.7753 31.7142 15.8751ZM33.338 17.925C33.7027 18.0248 34.2325 18.2705 34.5396 18.4893C35.1999 18.95 35.768 19.7715 35.9906 20.5777C36.1096 21.0114 36.1096 21.9328 35.9868 22.3819C35.745 23.284 35.1423 24.0787 34.3438 24.5547C33.6336 24.9731 32.816 25.1189 31.9484 24.9769C30.8351 24.7927 29.8255 24.0326 29.3111 22.9846C29.0425 22.4434 28.9849 22.2054 28.9656 21.5565C28.9426 20.9039 29.0117 20.4932 29.2267 19.9827C29.6298 19.0153 30.5626 18.2129 31.6068 17.9443C32.1787 17.7945 32.8275 17.7907 33.338 17.925ZM18.6009 20.8348C18.9195 20.9846 19.2266 21.284 19.3725 21.5796C19.6834 22.2207 19.5376 23.0229 19.0117 23.5067C18.3399 24.1324 17.4378 24.1362 16.789 23.5182C16.3322 23.0805 16.1556 22.5163 16.3053 21.9634C16.4435 21.4375 16.7659 21.0383 17.2266 20.8195C17.4877 20.6967 17.5069 20.6928 17.9176 20.7005C18.3014 20.712 18.3629 20.7235 18.6009 20.8348Z"
									fill="var(--sidebar-text-color)"></path>
								<path
									d="M32.3515 19.2187C31.6451 19.3646 31.315 19.5219 30.9503 19.8867C30.4935 20.3396 30.3208 20.7542 30.3246 21.3838C30.3285 22.0287 30.5204 22.4932 30.9695 22.9385C31.365 23.3339 31.7181 23.4989 32.3285 23.5719C33.4149 23.7024 34.386 23.0537 34.6931 21.9826C34.7815 21.6832 34.7545 21.1266 34.6394 20.7619C34.5358 20.4394 34.2364 19.9826 33.9715 19.7523C33.5607 19.3876 32.7815 19.1343 32.3515 19.2187Z"
									fill="var(--sidebar-text-color)"></path>
								<path
									d="M21.2957 17.4644C21.0845 17.5949 21.0308 17.6832 21.0308 17.9135C21.0269 18.1093 21.0384 18.1362 21.1536 18.2398L21.2804 18.3511L23.4723 18.3435L25.6604 18.332L25.7909 18.1822C26.0097 17.9289 25.9637 17.591 25.6911 17.449C25.5951 17.3991 25.2689 17.3914 23.4953 17.3914C21.5337 17.3914 21.4032 17.3953 21.2957 17.4644Z"
									fill="var(--sidebar-text-color)"></path>
								<path
									d="M5.12284 18.9961L5 19.0076L5.00768 19.8599L5.01919 20.712H8.76202C12.3436 20.712 12.5125 20.7082 12.6392 20.6391C12.9617 20.4664 13.0999 20.2399 13.0999 19.879C13.0999 19.7254 13.073 19.5796 13.0269 19.4798C12.9386 19.2917 12.7121 19.092 12.5049 19.0344C12.3935 19.0038 11.3609 18.9884 8.80041 18.9884C6.84646 18.9846 5.19194 18.9884 5.12284 18.9961Z"
									fill="var(--sidebar-text-color)"></path>
								<path
									d="M7.72551 22.2745C7.39154 22.3666 7.22647 22.6123 7.22647 23.0038C7.22647 23.4453 7.49519 23.7524 7.90594 23.7908C8.19001 23.8176 8.37044 23.76 8.53551 23.5989C8.881 23.2534 8.881 22.835 8.53551 22.4933C8.29366 22.2476 8.04798 22.1823 7.72551 22.2745Z"
									fill="var(--sidebar-text-color)"></path>
							</svg>
						</a>
					</li>
					<li class="mr-10">
						<a href="" class="hover:text-[var(--text-color)]"
							>¿Cómo funciona?</a>
					</li>
					<li>
						<a href="" class="hover:text-[var(--text-color)]"
							>Contacto</a>
					</li>
				</ul>
			</nav>

			<a
				href=""
				id="buscar-nuevos-pasajes"
				class="hidden md:flex border-2 border-[var(--sidebar-border-color)] bg-transparent items-center justify-center p-2 rounded cursor-pointer text-[var(--sidebar-text-color)] font-medium font-['Inter'] transition-all"
			>
				<svg
					class="mr-3"
					width="29"
					height="25"
					viewBox="0 0 29 25"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M25.6446 4.30308L26.2546 6.57885C26.3358 6.88256 26.331 7.20289 26.2405 7.50399C26.1501 7.8051 25.9777 8.07511 25.7426 8.28382L25.6605 8.35266C25.2564 8.66792 24.9524 9.09371 24.7855 9.57835C24.6186 10.063 24.596 10.5856 24.7203 11.0829C24.8446 11.5802 25.1106 12.0306 25.486 12.3797C25.8614 12.7287 26.33 12.9613 26.8349 13.0493L26.9493 13.0668C27.2692 13.1084 27.5696 13.2441 27.8124 13.4567C28.0551 13.6692 28.2293 13.9491 28.3127 14.2608L28.9338 16.5778C29.0059 16.8465 29.0244 17.1268 28.9881 17.4026C28.9519 17.6784 28.8616 17.9443 28.7226 18.1853C28.5835 18.4262 28.3984 18.6374 28.1777 18.8068C27.957 18.9761 27.7051 19.1004 27.4364 19.1724L5.95481 24.928C5.41226 25.0732 4.83424 24.997 4.34788 24.7161C3.86153 24.4351 3.50667 23.9726 3.36134 23.43L2.77731 21.2501C2.69027 20.9257 2.69344 20.5837 2.78647 20.2609C2.8795 19.9381 3.05886 19.6469 3.30521 19.4186L3.39152 19.3444C3.78723 19.0216 4.08114 18.5912 4.23785 18.1052C4.39455 17.6191 4.40737 17.0981 4.27474 16.605C4.14212 16.1118 3.86972 15.6675 3.49036 15.3256C3.111 14.9837 2.64087 14.7588 2.13662 14.678C1.78787 14.6217 1.46282 14.4659 1.20062 14.2291C0.938422 13.9924 0.75026 13.6849 0.658796 13.3437L0.0721155 11.1553C0.000141177 10.8866 -0.018191 10.6063 0.0181661 10.3305C0.0545232 10.0547 0.144857 9.78875 0.284009 9.54787C0.42316 9.30698 0.608403 9.09587 0.829157 8.92659C1.04991 8.75731 1.30185 8.63317 1.57059 8.56128L23.0506 2.80566C23.3193 2.73359 23.5995 2.71515 23.8754 2.7514C24.1512 2.78765 24.4171 2.87788 24.6581 3.01693C24.899 3.15599 25.1102 3.34114 25.2795 3.56182C25.4489 3.7825 25.5731 4.03438 25.6452 4.30308M23.4398 4.62448L2.14297 10.3308C1.8491 10.4097 1.67437 10.7121 1.75326 11.006L2.17209 12.5696C3.07786 12.7519 3.91469 13.1836 4.58827 13.8161C5.26185 14.4485 5.74542 15.2565 5.98446 16.1489C6.22378 17.0414 6.20906 17.983 5.94196 18.8675C5.67487 19.7521 5.16601 20.5445 4.47275 21.1553L4.89158 22.7189C4.97101 23.0128 5.27282 23.1875 5.56669 23.1086L26.863 17.4023C27.1569 17.3234 27.3316 17.021 27.2527 16.7272L26.8344 15.1641C25.9286 14.9816 25.0917 14.5498 24.4182 13.9173C23.7446 13.2848 23.261 12.4767 23.022 11.5842C22.7826 10.6917 22.7973 9.7502 23.0643 8.86565C23.3313 7.98111 23.84 7.18872 24.5332 6.57779L24.1144 5.01419C24.0765 4.87299 23.9841 4.7526 23.8575 4.67952C23.7309 4.60643 23.581 4.58663 23.4398 4.62448ZM22.7599 16.0399C22.8139 16.2414 22.8276 16.4515 22.8004 16.6584C22.7731 16.8652 22.7054 17.0646 22.601 17.2453C22.4967 17.4259 22.3578 17.5842 22.1923 17.7112C22.0268 17.8382 21.8379 17.9313 21.6363 17.9852C21.4348 18.0392 21.2247 18.0529 21.0178 18.0257C20.811 17.9984 20.6116 17.9307 20.431 17.8263C20.2503 17.722 20.092 17.5831 19.965 17.4176C19.8381 17.2521 19.7449 17.0632 19.691 16.8616C19.582 16.4547 19.6392 16.0211 19.8499 15.6563C20.0606 15.2914 20.4076 15.0253 20.8146 14.9163C21.2215 14.8073 21.6551 14.8645 22.02 15.0752C22.3848 15.2859 22.651 15.6329 22.7599 16.0399ZM21.6639 11.9479C21.7729 12.3549 21.7158 12.7885 21.5052 13.1534C21.2945 13.5183 20.9475 13.7845 20.5405 13.8936C20.1336 14.0026 19.7 13.9455 19.3351 13.7348C18.9702 13.5242 18.704 13.1772 18.5949 12.7702C18.4921 12.3654 18.5528 11.9363 18.764 11.576C18.9752 11.2156 19.3199 10.9529 19.7233 10.8448C20.1268 10.7367 20.5566 10.7918 20.9197 10.9983C21.2828 11.2048 21.5505 11.5459 21.6639 11.9479ZM20.5668 7.85652C20.6208 8.05803 20.6345 8.2682 20.6073 8.47503C20.5801 8.68187 20.5124 8.88131 20.4081 9.06198C20.3037 9.24265 20.1649 9.401 19.9994 9.528C19.8338 9.655 19.6449 9.74815 19.4434 9.80215C19.2419 9.85614 19.0318 9.86992 18.8249 9.84268C18.6181 9.81545 18.4186 9.74775 18.238 9.64344C18.0573 9.53913 17.8989 9.40025 17.772 9.23475C17.645 9.06924 17.5518 8.88033 17.4978 8.67882C17.3888 8.27185 17.4459 7.83824 17.6565 7.47336C17.8672 7.10848 18.2142 6.84224 18.6211 6.73319C19.0281 6.62415 19.4617 6.68124 19.8266 6.8919C20.1915 7.10257 20.4577 7.44955 20.5668 7.85652ZM15.0796 0.903187L16.4309 2.83267C16.4505 2.86126 16.4695 2.89038 16.4875 2.9195L3.5599 6.38346L12.1298 0.382693C12.5899 0.0606913 13.1591 -0.0653665 13.7122 0.0322409C14.2653 0.129848 14.7575 0.443129 15.0796 0.903187Z"
						fill="var(--color-svg)"></path>
				</svg>

				BUSCAR PASAJES
			</a>

			<CambiarTema />
		</header>
		<div
			class="grid grid-cols-[350px_auto] h-[calc(100% - h-16)] overflow-hidden md:grid-cols-1"
		>
			<aside
				class="p-5 h-auto border-r-2 border-[var(--sidebar-border-color)] md:hidden"
			>
				<Switch />
				<section
					class="font-bold uppercase text-[var(--sidebar-text-color)] mt-4 mb-4"
				>
					<p class="mb-4">¿DONDE QUIERES VIAJAR?</p>
					<div
						class="flex p-3 mb-4 items-center w-full border-2 border-[var(--sidebar-border-color)] rounded"
					>
						<svg
							class="w-6 h-auto mr-3"
							xmlns="http://www.w3.org/2000/svg"
							width="1em"
							height="1em"
							viewBox="0 0 32 32"
						>
							<path
								fill="currentColor"
								d="M16 2A11.013 11.013 0 0 0 5 13a10.889 10.889 0 0 0 2.216 6.6s.3.395.349.452L16 30l8.439-9.953c.044-.053.345-.447.345-.447l.001-.003A10.885 10.885 0 0 0 27 13A11.013 11.013 0 0 0 16 2m0 15a4 4 0 1 1 4-4a4.005 4.005 0 0 1-4 4"
							></path>
							<circle cx="16" cy="13" r="4" fill="none"></circle>
						</svg>
						<input
							class="bg-transparent font-normal outline-none border-none w-full text-[var(--sidebar-text-color)] text-sm"
							type="text"
							name=""
							placeholder="Ingrese ciudad de Origen"
							id=""
						/>
					</div>
					<div
						class="flex p-3 mb-4 items-center w-full border-2 border-[var(--sidebar-border-color)] rounded"
					>
						<svg
							class="w-6 h-auto mr-3"
							xmlns="http://www.w3.org/2000/svg"
							width="1em"
							height="1em"
							viewBox="0 0 32 32"
						>
							<path
								fill="currentColor"
								d="M16 2A11.013 11.013 0 0 0 5 13a10.889 10.889 0 0 0 2.216 6.6s.3.395.349.452L16 30l8.439-9.953c.044-.053.345-.447.345-.447l.001-.003A10.885 10.885 0 0 0 27 13A11.013 11.013 0 0 0 16 2m0 15a4 4 0 1 1 4-4a4.005 4.005 0 0 1-4 4"
							></path>
							<circle cx="16" cy="13" r="4" fill="none"></circle>
						</svg>
						<input
							class="bg-transparent font-normal outline-none border-none w-full text-[var(--sidebar-text-color)] text-sm"
							type="text"
							name=""
							placeholder="Ingrese ciudad de Destino"
							id=""
						/>
					</div>
				</section>
				<section
					class="font-bold uppercase text-[var(--sidebar-text-color)] mt-4 mb-4"
				>
					<p class="mb-4">¿CUANDO QUIERES VIAJAR?</p>
					<Calendario />
				</section>
				<section class="flex items-center justify-center">
					<button
						class="border-2 border-[var(--hover-background-color)] cursor-pointer bg-transparent text-[var(--sidebar-text-color)] p-[11px] rounded-md uppercase font-medium hover:bg-[var(--hover-background-color)]"
						>Buscar Pasaje</button
					>
				</section>
			</aside>
			<main class="p-5 overflow-y-auto relative">
				<slot />
			</main>
		</div>

		<script type="module" src="/menu.js"></script>
		<script type="module" src="/calendario.js"></script>
		<script type="module" src="/cambiarTema.js"></script>
	</body>
</html>
<style>
	.svg-logo:hover path {
		fill: var(--text-color);
	}

	input::placeholder {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: var(--sidebar-text-color);
	}
</style>
